app_id = ""
env_id = ""

# The IPv4 address that the DNS name should resolve to.
ip_address = ""

# The IPv6 address that the DNS name should resolve to.
ipv6_address = ""

# The name of the zone in which this record set will reside.
managed_zone = ""

# A valid fully qualified domain name that the DNS name should resolve to.
name = ""

# GCP project ID
project = ""

# GCP region
region = ""

res_id = ""

# The subdomain of the DNS name that the DNS record is for.
subdomain = ""