
# The location of the bucket
location = ""

# Name of the example application
name = "hum-rp-gcs-example"

# Prefix of the created resources
prefix = "hum-rp-gcs-ex-"

# GCP project ID
project = ""

# GCP Resource Pack git ref
resource_packs_gcp_rev = "refs/heads/main"

# GCP Resource Pack git url
resource_packs_gcp_url = "https://github.com/humanitec-architecture/resource-packs-gcp.git"