app_id = ""

# List of additional bindings to grant to the service account
bindings = ""

env_id = ""

# Resource name
name = ""

# k8s namespace
namespace = ""

# GCP project ID
project = ""

res_id = ""

# List of project-level roles to grant to the service account
roles = ""