alternative_location_id = ""
app_id                  = ""
auth_enabled            = false
authorized_network      = ""

# GCP credentials
credentials = ""

# Resource display name
display_name = ""

env_id         = ""
location_id    = ""
memory_size_gb = ""

# Resource name
name = ""

# Prefix for all resources
prefix = ""

# GCP project
project = ""

redis_version = "REDIS_4_0"

# GCP region
region = ""

res_id                     = ""
reserved_ip_range          = ""
weekly_maintenance_windows = {}