alternative_location_id    = ""
app_id                     = ""
auth_enabled               = false
authorized_network         = ""
credentials                = ""
display_name               = ""
env_id                     = ""
location_id                = ""
memory_size_gb             = ""
name                       = ""
project                    = ""
redis_version              = "REDIS_4_0"
region                     = ""
res_id                     = ""
reserved_ip_range          = ""
weekly_maintenance_windows = {}