app_id = ""
env_id = ""

# The name of the Cloud SQL instance.
instance = ""

# The connection name of the Cloud SQL instance.
instance_connection_name = ""

# Resource name
name = ""

# The port for the database (needs to match the database type)
port = ""

# GCP project ID
project = ""

# GCP region
region = ""

res_id = ""