app_id = ""

# GCP credentials
credentials = ""

env_id = ""

# Whether to force destroy the bucket when deleting
force_destroy = false

# The location of the bucket
location = ""

# Resource name
name = ""

# Prefix for all resources
prefix = ""

# GCP project ID
project = ""

res_id = ""