alternative_location_id = ""

# Append Terraform logs to error messages.
append_logs_to_error = false

auth_enabled       = false
authorized_network = ""

# Resource name (can contain placeholders like ${context.app.id})
display_name = ""

# The ID of the Resource Account which should be used.
driver_account = ""

location_id    = ""
memory_size_gb = ""

# Resource name (can contain placeholders like ${context.app.id})
name = ""

# Prefix for all resources
prefix = ""

project       = ""
redis_version = "REDIS_4_0"

# GCP region
region = ""

reserved_ip_range          = ""
resource_packs_gcp_rev     = "ref/heads/main"
resource_packs_gcp_url     = "https://github.com/humanitec-architecture/resource-packs-gcp.git"
weekly_maintenance_windows = {}